<md-dialog aria-label="Add Class">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Class</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-content>
        <div layout="row" layout-margin layout-padding>
          <md-input-container flex>
            <label>Name</label>
            <input ng-model="ctrl.class.name" placeholder="CS 2340 A">
          </md-input-container>

          <md-input-container flex>
            <label>Semester</label>
            <md-select name="type" ng-model="ctrl.class.semester">
              <md-option value="FALL">Fall</md-option>
              <md-option value="SPRING">Spring</md-option>
              <md-option value="SUMMER">Summer</md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex>
            <label>Year</label>
            <input ng-model="ctrl.class.year" type="number">
          </md-input-container>
        </div>

        <div layout="row" layout-margin layout-padding>
          <md-input-container flex>
            <label>Min Group Size</label>
            <input ng-model="ctrl.class.minGroup" type="number">
          </md-input-container>
          <md-input-container flex>
            <label>Max Group Size</label>
            <input ng-model="ctrl.class.maxGroup" type="number">
          </md-input-container flex>
          <div flex>
            <span>Upload Roster:</span>
          </div>
          <md-input-container class="md-icon-float md-block">
            <input ng-model="ctrl.class.roster" type="file">
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ctrl.addClass(class, group)" style="margin-right:20px;" >
        Add Class
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
