<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <a href="/#!/"><h2>TeamWerx</h2></a>
    <span flex></span>
    <h2>Classes</h2>
    <span flex></span>
    <h3>{{ user.email }}</h3>
  </div>
</md-toolbar>

<div class='md-padding' layout="row" layout-wrap>
  <md-content flex layout-padding>
    <md-grid-list md-cols="3"
        md-row-height="3:2"
        md-gutter="1px">
      <md-grid-tile layout="row" layout-align="center center" flex="100"
        ng-repeat="class in ctrl.classes"
        md-colspan="1"
        md-rowspan="1"
        md-theme="default">
        <md-card flex="100" md-theme="default" md-theme-watch>
          <md-card-title  md-colors="::{backgroundColor: 'default-background-300'}" >
            <md-card-title-text >
              <span class="md-headline">{{ class.name }}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column">
            <br>
            <span><strong>
              0 / {{class.roster.length}}
            </strong></span>
            <span>
              students in groups
            </span>
            <br>
          </md-card-content>
        </md-card>
      </md-grid-tile>

      <md-grid-tile md-colspan="1" md-rowspan="1">
        <md-card flex="100" md-theme="default" layout="column" layout-align="center" md-colors="::{backgroundColor: 'default-background-300'}" md-theme-watch ng-click="ctrl.showAddClass($event)">
          <md-card-title md-colors="::{backgroundColor: 'default-background-300'}">
            <md-card-title-text >
              <span class="md-headline">+</span>
              <span class="md-headline">Add Class</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
