<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <a href="/#!/"><h2>TeamWerx</h2></a>
    <span flex></span>
    <h2>Welcome to TeamWerx</h2>
    <span flex></span>
    <h3>Sign Up for Free!</h3>
  </div>
</md-toolbar>

<div layout="row" ng-cloak class="md-inline-form">

  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Email</label>
        <input ng-model="ctrl.username" type="email">
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input ng-model="ctrl.password" type="password">
      </md-input-container>

      <md-radio-group ng-model="ctrl.attr">

      <md-radio-button value="student" class="md-primary">Student</md-radio-button>
      <md-radio-button value="professor" class="md-primary">Professor</md-radio-button>

      </md-radio-group>

      <md-button md-no-ink class="md-primary" ng-click="ctrl.login(ctrl.attr)">Sign Up</md-button>
    </div>
  </md-content>
</div>