<md-dialog aria-label="Create Team">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Request to Join {{ ctrl.currTeam.name }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-content>

        <div layout="row" layout-margin layout-padding>
          <md-list flex>
            <md-list-item ng-repeat="student in ctrl.currTeam.members">
              <div class="md-list-item-text" layout="column">
                <span>{{ student }}</span>
              </div>
            </md-list-item>
          </md-list>
        </div>


      </md-content>
    </md-dialog-content>
    <br>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ctrl.sendReq()" style="margin-right:20px;" >
        Submit Request
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
