<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <a href="/#!/prof/home"><h2>TeamWerx</h2></a>
    <span flex></span>
    <h2>{{ctrl.class.name}}</h2>
    <span flex></span>
    <h3>{{ user.email }}</h3>
  </div>
</md-toolbar>

<div layout="column" layout-padding layout-margin>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h4>
        <span>Teams</span>
      </h4>
      <span flex></span>
      <md-button class="md-raised" ng-click="ctrl.createTeam()">Create Team</md-button>
    </div>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="team in ctrl.class.teams">
        <div class="md-list-item-text">
          <span>{{team.name}}</span>
          <i ng-if="!team.name">Unnamed Team</i>
          <br>
          <span ng-repeat="member in team.members">
            {{ member.name.concat((!$last) ? ' &mdash; ': '')}}
          </span>
        </div>
        <md-button ng-if="team.members.length > 0" class="md-secondary md-raised" ng-href="{{ctrl.getEmailLink(team)}}">Email</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h4>Unmatched Students</h4>
      <span flex></span>
      <md-button class="md-raised" ng-if="ctrl.unmatched && ctrl.unmatched.length > 0" ng-click="ctrl.assignUnmatched()">Match All Students</md-button>
    </div>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item class="md-1-line" ng-if="ctrl.unmatched && ctrl.unmatched.length === 0">
          <i>No unmatched students!</i>
      </md-list-item>
      <md-list-item class="md-1-line" ng-repeat="p in ctrl.unmatched">
        <div class="md-list-item-text">
          <h3>{{p.name}}</h3>
        </div>

        <span flex></span>
        <md-input-container class="md-block">
          <label>Select Team</label>
          <md-select ng-model="p.assignTo">
            <md-option ng-repeat="team in ctrl.class.teams" value="{{team._id}}">
              {{team.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-secondary" ng-click="ctrl.assignStudent(p)">Assign</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

</div>



<!-- <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Professor Burdell</h1>
  </md-toolbar>
  <md-content layout-padding>
    PIC HERE
  </md-content>
</md-sidenav> -->
